html {
    background-color: #9cc2c2;
}

body {
    background-color: #9cc2c2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.title {
    color: white;
    font-size: 4vmax;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-block-start: .5em;
    margin-block-end: .2em;
}


/************** login page ***************/

.center_card {
    display: inline-block;
    width: 25vmax;
    height: 25vmax;
    background-color: #f4f4f4;
    border: 4px solid #343f3f;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vmax;
    align-self: center;
    margin-top: 5vmax;
}


/* input fields */

form {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

input {
    /* margin: 10px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2vmax;
    line-height: 1.4vmax;
    color: #343f3f;
}

input[type=text] {
    background: #FFFFFF;
    border: 2px solid #c4c4c4;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .75vmax;
    width: 18vmax;
    height: 3vmax;
    text-indent: .75vmax;
    margin: 1vmax;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2vmax;
    line-height: 1.4vmax;
    color: #c4c4c4;
}


/* submit button */

input[type=submit] {
    background: #84b3b3;
    color: white;
    border: 3px solid #343f3f;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .75vmax;
    width: 18vmax;
    height: 3vmax;
    margin: 1vmax;
}

input[type=submit]:hover {
    background-color: #7b9e9e;
}

input[type=submit]:active {
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
    transform: translateY(2px) translateX(-1px);
}

.reg_link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2vmax;
    line-height: 1.4vmax;
    z color: #343f3f;
    text-align: center;
}

a {
    color: #84b3b3
}


/* footer */

footer {
    background-color: #343f3f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0px;
    height: 20px;
    margin-block-start: 0;
}


/****************** dashboard *******************/

p {
    margin-block-start: 0;
}

.menu_bar {
    display: block;
    float: left;
    width: 16vw;
    height: 100vh;
    background-color: #f4f4f4;
    border-right: 4px solid #343f3f;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: .8vw;
    text-align: left;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-shadow: -4px 4px 6px rgba(0, 0, 0, 0.15);
    color: #343f3f;
}

h2.center {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: .8vw;
    text-align: left;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: -4px 4px 6px rgba(0, 0, 0, 0.15);
    color: #343f3f;
}

input[type=button] {
    background: #9cc2c2;
    color: white;
    border: 4px solid #343f3f;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    width: 14vw;
    height: 4vw;
    margin: .6vw;
    font-size: 1.5vw;
}

input[type=button]:hover {
    background-color: #7b9e9e;
}

input[type=button]:active {
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
    transform: translateY(2px) translateX(-1px);
}

.learn_game_card {
    display: inline-block;
    width: 26vw;
    height: 35vw;
    background-color: #DDDCDC;
    border: 4px solid #343f3f;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    margin-top: 4vw;
    margin-inline: 5vw;
}

.review_game_card {
    display: inline-block;
    width: 26vw;
    height: 35vw;
    background-color: #fbbd05bf;
    border: 4px solid #343f3f;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    margin-top: 4vw;
    margin-inline: 5vw;
}

.game_rules {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.4vw;
    color: #343f3f;
    text-align: center;
    margin-inline: 1vw;
    ;
}

h3 {
    text-align: center;
    font-size: 3vw;
    font-weight: 300;
    margin-block-start: 0;
    margin-inline-end: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #343f3f;
    text-align: center;
}


/********************** game page ***********************/

.game_header {
    display: block;
    width: 100%;
    height: 3vw;
    font-size: 2vw;
    background-color: #f4f4f4;
    border-bottom: 4px solid #343f3f;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.card_image {
    float: left;
    /* display: inline-block; */
    width: calc((62vw) - 8px);
    height: 35vw;
    /* background-color: #f4f4f4; */
    border: 4px solid #343f3f;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    margin: 2vw;
}

.score_card {
    /* float: right; */
    display: block;
    width: 30vw;
    height: 7vw;
    background-color: #f4f4f4;
    border: 4px solid #343f3f;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    text-align: center;
}

.game_control_panel {
    width: 30vw;
    height: 35vw;
    float: right;
    margin: 2vw;
}

input[type=button].game_button {
    background: #fbbd05bf;
    color: #343f3f;
    border: 4px solid #343f3f;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    width: 9vw;
    height: 6vw;
    margin: 2vw;
    font-size: 1.5vw;
}

input[type=button].game_button:hover {
    background: #dba505bf;
}

input[type=button].game_button:active {
    box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.25);
    transform: translateY(5px) translateX(-3px);
}

.progress_card {
    /* float: right; */
    width: 30vw;
    height: 17.5vw;
    background-color: #f4f4f4;
    border: 4px solid #343f3f;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    text-align: center;
}

input[type=button].pause {
    float: left;
    width: 5vw;
    height: 5vw;
    font-size: 3vw;
    font-weight: 800;
    margin-left: 2.5vw;
    margin-top: 2.5vw;
}

.timer_card {
    background: #84b3b3;
    color: white;
    border: 4px solid #343f3f;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    width: calc((17.5vw) - 8px);
    height: calc((5vw) - 8px);
    float: right;
    margin-top: 2.5vw;
    margin-right: 2.5vw;
}

.fraction_card {
    background: #84b3b3;
    color: white;
    border: 4px solid #343f3f;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    width: calc((25vw) - 8px);
    height: calc((5vw) - 8px);
    float: left;
    margin-top: 1.55vw;
    margin-left: 2.5vw;
}

.question_buttons_container {
    width: 96vw;
    height: 6vw;
    display: inline-block;
}

input[type=button].question_button {
    display: inline-block;
    width: 11vw;
    height: 6vw;
    background-color: grey;
    margin-top: 0;
    margin-inline: 1vw;
    background-color: #f4f4f4;
    font-size: 1vw;
    line-height: 1.2vw;
    color: #343f3f;
    text-align: center;
    white-space: normal;
    padding: .8vw;
}

input[type=button].question_button:hover {
    background-color: #dfdfdf
}