<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/app.css">
</head>

<body>
    <div class="menu_bar">
        <h2>Game</h2>
        <input type="button" id="new_game" name="new_game" value="New Game">
        <input type="button" id="profile" name="profile" value="Profile">
        <input type="button" id="log_out" name="log_out" value="Log Out">

        <input type="button" id="admin" name="admin" value="Admin">
    </div>

</body>

</html>