<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/app.css">
</head>

<body>
    <div class="menu_bar">
        <h2>Game</h2>
        <a href="./game.html">
            <input type="button" id="new_game" name="new_game" value="New Game">
        </a>
        <input type="button" id="profile" name="profile" value="Profile">
        <input type="button" id="log_out" name="log_out" value="Log Out">
        <input type="button" id="admin" name="admin" value="Admin">
    </div>

    <!-- learn mode card -->
    <div class="learn_game_card">
        <form>
            <div class="game_rules">
                <h3>Learn Mode</h3>
                <br>
                <p>Select the corresponding question for the card shown. Only one chance, and no skipping.</p><br>
                <p>Points awards for correct answers, deducted for incorrect answers.</p><br>
                <p>Faster players earn time bonus</p><br>
                <input type="button" id="review_mode_button" name="review_mode_button" value="Start Game">
            </Div>
        </form>
    </div>

    <!-- review mode card -->
    <div class="review_game_card">
        <form>
            <div class="game_rules">
                <h3>Review Mode</h3>
                <br>
                <p>Select the corresponding question for the card shown. Only one chance, and no skipping.</p><br>
                <p>Points awards for correct answers, deducted for incorrect answers.</p><br>
                <p>Faster players earn time bonus</p><br>
                <a href="./game.html">
                    <input type="button" id="review_mode_button" name="review_mode_button" value="Start Game">
                </a>
            </div>
        </form>
    </div>
    <footer>
        <p>© 2022 || Chambers, Moore, Ratigan</p>
    </footer>

</body>

</html>