<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Mode</title>
    <link rel="stylesheet" type="text/css" href="../static/app.css">
</head>

<body>
    <div class="game_header">
        <h2>Game</h2>
    </div>
    <img class="card_image" id="card_image" />
    <div class="game_control_panel">
        <div class="score_card">
            <h2 class="center">Score</h2>
            <p id="score">00</p>
        </div>
        <input type="button" class="game_button" id="hint" name="hint" value="HINT">
        <input type="button" class="game_button" id="pass" name="pass" value="PASS">
        <div class="progress_card">
            <div class="timer_card">
                <div class="time_info">
                    Time: <span id="timer">0:00</span>
                </div>
            </div>
            <div class="fraction_card" id="question_number">
                X out of X
            </div>
        </div>
    </div>
    <div class="question_buttons_container" id="question_container"></div>

    <div id="hintModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeHint">&times;</span>
            <p id="hintText"></p>
        </div>
    </div>

    <div id="endModal" class="modal">
        <div class="modal-content">
            <p id="endText"></p>
        </div>
    </div>

    <footer>
        <p>© 2022 || Chambers, Moore, Ratigan</p>
    </footer>
</body>
<script src="../scripts/game.js"></script>

</html>