<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Mode</title>
    <link rel="stylesheet" type="text/css" href="/static/app.css">
</head>

<body>
    <div class="game_header">
        <h2>Game</h2>
    </div>
    <div class="card_image">
        image goes here
    </div>
    <div class="game_control_panel">
        <div class="score_card">
            <h2 class="center">Score</h2>
        </div>
        <input type="button" class="game_button" id="info" name="info" value="INFO">
        <input type="button" class="game_button" id="info" name="info" value="SKIP">
        <div class="progress_card">
            <input type="button" class="pause" id="pause" name="pause" value="ll">
            <div class="timer_card">
                Time 0:37
            </div>
            <div class="fraction_card">
                1 out of 42
            </div>
        </div>
    </div>
    <div class="question_buttons_container">
        <input type="button" class="question_button" id="info" name="info" value="How do we know if the globe is warming?">
        <input type="button" class="question_button" id="info" name="info" value="How do we know GH gases warm air?">
        <input type="button" class="question_button" id="info" name="info" value="How do we know the warming is not from the Sun?">
        <input type="button" class="question_button" id="info" name="info" value="How do we know if the CO2 is not from volcanos?">
        <input type="button" class="question_button" id="info" name="info" value="How do we know CO2 is from humans?">
        <input type="button" class="question_button" id="info" name="info" value="Is the climate change just Natural Variability?">
        <input type="button" class="question_button" id="info" name="info" value="Why does it matter if temperatures are changing?">
    </div>





    <footer>
        <p>© 2022 || Chambers, Moore, Ratigan</p>
    </footer>
</body>

</html>