<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Mode</title>
    <link rel="stylesheet" type="text/css" href="../static/app.css">
</head>

<body>
    <div class="game_header">
        <h2>Game</h2>
    </div>
    <img class="card_image" id="card_image" />
    <div class="game_control_panel">
        <div class="score_card">
            <h2 class="center">Score</h2>
        </div>
        <input type="button" class="game_button" id="info" name="info" value="INFO">
        <input type="button" class="game_button" id="skip" name="skip" value="SKIP">
        <div class="progress_card">
            <div class="timer_card">
                <div class="time_info">
                    Time: <span id="timer">0:00</span>
                </div>
            </div>
            <div class="fraction_card" id="question_number">
                X out of X
            </div>
        </div>
    </div>
    <div class="question_buttons_container">
        <!-- need to replace button value with variables so questions can be edited -->
        <input type="button" class="question_button" id="question_1" name="question_1" value="The Earth IS Warming!">
        <input type="button" class="question_button" id="question_2" name="question_2"
            value="Greenhouse Gases Warm any Planet’s Atmosphere!">
        <input type="button" class="question_button" id="question_3" name="question_3" value="It’s Not the Sun!">
        <input type="button" class="question_button" id="question_4" name="question_4" value="It’s Not Volcanos!">
        <input type="button" class="question_button" id="question_5" name="question_5"
            value="It’s Not Natural Variation!">
        <input type="button" class="question_button" id="question_6" name="question_6" value="It IS Greenhouse Gases!">
        <input type="button" class="question_button" id="question_7" name="question_7"
            value="Humans Account for the Rising Greenhouse Gases!">
        <input type="button" class="question_button" id="question_8" name="question_8"
            value="Planetary Warming Impacts Humans!">
    </div>

    <footer>
        <p>© 2022 || Chambers, Moore, Ratigan</p>
    </footer>

</body>
<script src="../scripts/game.js"></script>

</html>